
.image-line-1-container {
    width: 100%;
    margin-top: 130px;
    height: 230px;
    background-color: rgba(0, 103, 179, 0.76);
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
}

.image-1 {
    height: 400px;
    filter:grayscale(100%);

}
.image-2 {
    height: 330px;
    filter:grayscale(100%);
}
.image-3 {
    height: 385px;
    filter:grayscale(100%);
}
.image-1:hover {
    height: 400px;
    filter:grayscale(0%);

}
.image-2:hover {
    height: 330px;
    filter:grayscale(0%);
}
.image-3:hover {
    height: 385px;
    filter:grayscale(0%);
}
.image-line-1-text{
    display:flex;
    height: 180px;
    
}


.fb-logo-img {
    width:27%;
}
.image-1-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-left:70px;
}
.image-2-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.image-3-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.person-name {
    font-family:Lato;
    font-weight:500;
    font-size: 20px;
    color:rgba(35,35,35,1);
    margin-bottom: 0px;
}
.person-por {
    margin-top: 0px;
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 16px;
    color: rgba(102,102,102,1);
}
.empty-2-div {
    width: 133px;
    height:20px;
    background-color:black;

}

.developers-word {
    color: rgba(76,76,76,1);
    font-family: lato;
    font-size: 28px;
    font-weight: 500;
    padding-top: 50px;
    margin-left:100px;
    margin-right: 100px;
}

.image-line-2-container {
    width: 93%;
    margin-top: 130px;
    height: 230px;
    background-color: rgba(0, 103, 179, 0.76);
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-left: 130px;
}
.image-4 {
    height: 430px;
    filter:grayscale(100%);
}
.image-4:hover {
    height: 430px;
    filter:grayscale(0%);
}
.image-5 {
    height: 360px;
    filter:grayscale(100%);
}
.image-6 {
    height: 420px;
    filter:grayscale(100%);
}
.image-5:hover {
    height: 360px;
    filter:grayscale(0%);
}
.image-6:hover {
    height: 420px;
    filter:grayscale(0%);
}